.product-form__submit{
    font-size: calc(var(--font-button-scale)* 1.3rem);
}
.template--product .product__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.template--product .product__price{
    width: auto;
}
.template--product .product__text{
    width: 100%;
}
.template--product  .product__buy-buttons{
    width: 100%;
    margin:20px 0;
    margin-block-end: 20px !important;
}
.template--product  .product__app-block{
    width: 100%;
}

.template--product .product__accordion{
    width: 100%;
}

.template--product .product__content-grid{
    margin-block-end: 20px !important;
}


.template--product  .product__price s {
    opacity: 0.7;
  }
.skio-save {
  
    border-radius: 0 !important;
    color: #151515 !important;
    background: #e8ff7a !important;
}
.product__title{
    width: 100%;
    margin-top: 10px;
}
.button {
    border-radius: 4px;
}
.jdgm-preview-badge--with-link .jdgm-prev-badge__text{
    text-decoration: underline;
}
.product__complementaries{
    overflow: hidden;
}
.product-form__input .swatch--square{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 20px;
    flex:1;
    justify-content: center;
    text-align: center;
    border: 1px solid #eee;
}
.product-form__input--pill input[type=radio]+label.swatch--square{
    height: auto;
}
.label_content{
    display: flex;
    flex-direction: column;
    position: relative;
}
span.label-save {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    background-color: var(--color-badge-discount-background);
    color: var(--color-badge-discount-foreground);
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 10px;
}
.per-piece{
    font-size: 10px;
}
.option-value{
    font-weight: bold;
}
.product__content .product__variant-picker{
    width: 100%;
}
variant-selects fieldset{
    gap:20px;
}
.swatch--square.checked{
    background: #323e4821;
}
        
@media  screen and (min-width: 750px) {
    .template--product .product__title {
        font-size: calc(var(--font-size-static-large) * 1.5);
      }
}
@media only screen and (min-width: 992px) {
    .jdgm-carousel--gallery-theme .jdgm-carousel-item {
        width: 24% !important;
    }
}