.product-form__submit{
    font-size: calc(var(--font-button-scale)* 1.3rem);
}
.template--product .product__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.template--product .product__price{
    width: auto;
}
.template--product .product__text{
    width: 100%;
}
.template--product  .product__buy-buttons{
    width: 100%;
    margin:20px 0;
    margin-block-end: 20px !important;
}
.template--product  .product__app-block{
    width: 100%;
}

.template--product .product__accordion{
    width: 100%;
}

.template--product .product__content-grid{
    margin-block-end: 20px !important;
}


.template--product  .product__price s {
    opacity: 0.7;
  }
.skio-save {
  
    border-radius: 0 !important;
    color: #151515 !important;
    background: #e8ff7a !important;
}
.product__title{
    width: 100%;
    margin-top: 10px;
}
.button {
    border-radius: 4px;
}
.jdgm-preview-badge--with-link .jdgm-prev-badge__text{
    text-decoration: underline;
}
.product__complementaries{
    overflow: hidden;
}
.product-form__input .swatch--square{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 20px;
    flex:1;
    justify-content: center;
    text-align: center;
    border: 1px solid #eee;
}
.product-form__input--pill input[type=radio]+label.swatch--square{
    height: auto;
}
.label_content{
    display: flex;
    flex-direction: column;
    position: relative;
}
span.label-save {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    background-color: var(--color-badge-discount-background);
    color: var(--color-badge-discount-foreground);
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 10px;
}
.per-piece{
    font-size: 10px;
}
.option-value{
    font-weight: bold;
}
.product__content .product__variant-picker{
    width: 100%;
}
variant-selects fieldset{
    gap:20px;
}
.swatch--square.checked{
    background: #323e4821;
}
.custom-testimonial__quote{
    font-size: 16px;
    text-align: left;
}
.custom-testimonial__quote p{
    margin-top: 0 !important;
    line-height: 22px;
}
.custom-testimonial__author{
    float: right;
    font-weight: bold;
}
.testimonial__product{
    display: flex;
    width: 100%;
    gap:20px;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #eee;
}
.testimonial__product-image{
    width: 25%;
    height: 25%;
    border-radius: 50%;
}
.testimonial__product-details{
    font-size: 16px;
    text-align: left;
    line-height: 22px;

}
.custom-testimonial__body{
    padding: 0 !important;
}
.testimonial__body.custom-testimonial__body.color-scheme-1 .testimonial__image img {
    height: 280px !important;
}
.custom-testimonial__content{
    padding:20px;
}
.custom-testimonials__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-testimonials .section-testimonials__ratings{
    margin-block-end: 0 !important;
} 
.custom-testimonials .section-testimonials__ratings .stars{
    display: flex;
}      
.custom-testimonials  .section-testimonials__subheading{
    margin-block-end: 0 !important;
    font-weight:bold;
}
.custom-testimonials .section__heading{
       margin-block-end: 0 !important;
} 
.custom-testimonials__header{
        margin-block-end: 4.8rem;
}
@media  screen and (min-width: 750px) {
    .template--product .product__title {
        font-size: calc(var(--font-size-static-large) * 1.5);
      }
      .custom-testimonials .card-slider .card-slider__slide {
        width: 24% !important;
        margin-right: 20px !important;
      }
}
@media only screen and (min-width: 992px) {
    .jdgm-carousel--gallery-theme .jdgm-carousel-item {
        width: 24% !important;
    }
    .custom-testimonials__header{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    
    .custom-testimonials__header{
        flex-direction: column;
    }
    .custom-testimonials .section-testimonials__ratings{
        flex-direction: column;
    } 
}
@media only screen and (max-width: 450px) {
    .hero-banner .hero__heading, .hero-banner .hero__heading em {
    
        font-size: 32px !important;
    }
}
@media only screen and (max-width: 325px) {
    .product-form__input .swatch--square{
        flex:48%;
    }
    .skio-group-topline{
        font-size: 12px !important;
    }
  
}